name: LLM-CI

on:
  push:
    branches:
      - main
    paths:
      - 'llm/**'
  pull_request:
    branches:
      - main
      - development

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
          cache: gradle

      - name: Grant execute permissions for gradlew
        run: chmod +x gradlew

      - name: Build project
        run: ./gradlew llm:assemble --build-cache --no-daemon

  test:
    name: Unit tests
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
          cache: gradle
      - run: chmod +x gradlew
      - run: ./gradlew test --build-cache --no-daemon
